:root {
  --vp-c-brand: #646cff;
  --vp-c-brand-light: #747bff;
  --vp-c-brand-dark: rgb(74, 72, 196);
  --vp-layout-max-width: 1500px;
  --vp-sidebar-width: 300px;
  --vp-custom-block-tip-text: var(--vp-c-green-dark);
  --vp-c-mute: #f9e7ca;
  --vp-button-alt-bg: #eee;
}
.dark {
  --vp-c-text-code: #232528;
  --vp-button-alt-bg: #454343;
}

.VPDoc.has-aside .content-container {
  max-width: 860px !important;
}

.VPDoc:not(.has-sidebar) .content {
  max-width: 1000px !important;
}

.aside-curtain {
  background: transparent !important;
}

.title-text {
  font-size: 18px !important;
}
.link-text {
  font-size: 16px !important;
}
.link-text.light {
  font-size: 13px !important;
}

.vp-doc h2 {
  margin: 28px 0 16px;
}

  .sm-center {
@media screen and (max-width: 600px) {
    text-align: center;
  }
  .sm-center > * {
    margin-bottom: 8px;
  }
}